.form {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}

.form__logo {
  width: 100px;
  padding-bottom: 20px;
}

.form__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.form__button_back {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  font-size: 22px;
  text-align: start;
  padding: 0;
  color: rgb(175, 175, 175);
  cursor: pointer;
  transition: 0.3s;
}

.form__button_back:hover,
.form__button:hover {
  color: black;
}

.form__buttons {
  display: flex;
  column-gap: 20px;
}

.form__input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(192, 192, 192);
  font-size: 16px;
}

.form__button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__active_buttons_container {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.form__active_buttons {
  display: flex;
}

.form__active_button {
  background-color: transparent;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 160px;
  height: 40px;
  border-right: none;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.button__remove {
  width: 40px;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(175, 0, 0);
  border: 1px solid rgb(175, 0, 0);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__remove:hover {
  background-color: rgb(214, 0, 0);
}

.add__btn {
  max-width: 400px;
}

.form__input_message {
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}


.form__sumbit_err {
  color: red;
  height: 20px;
}