@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito.ttf");
}

* {
  font-family: "Nunito";
}

body {
  margin: 0;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 24px;
}

.button {
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #005aa3;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.2s;
}

.button:hover {
  background-color: #005aa3;
  color: #fff;
}

p {
  margin: 0;
}
